{% extends "app/app_layout.html" %}

{% block content %}
<div class="container">
    <h2>{{ course.name }} <small class="grey-text">Kurs {{ course.year }} {{ course.term }}</small></h2>
    {% if student_forms %}
    <table class="striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Personnr</th>
                <th>Bedömd halvtid</th>
                <th>Bedömd heltid</th>
            </tr>
        </thead>
        <tbody>
            {% for f in student_forms %}
            <tr>
                <td><a href="/app/form/{{ f.id }}">{{ f.student.name }}</a></td>
                <td>{{f.student.ssn}}</td>
                <td>{% if f.has_midterm %}Ja{%else%}Nej{% endif %}</td>
                <td>{% if f.has_fullterm %}Ja{%else%}Nej{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div><p>Denna kurs har inga formulär applicerade än</p></div>
    <table class="striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Personnr</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.ssn }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
