{% extends "app/app_layout.html" %}
{% load dict_tags %}
{% block scripts %}
<script type="text/template" id="signer-template">
    <div class="signer">
        <div class="row">
            <div class="col s6">
                <div class="input-field">
                    <input id="signer_name%{num}" required type="text" name="signer_name" class="validate" value="">
                    <label for="signer_name%{num}">Namn på person</label>
                </div>
            </div>
            <div class="col s5">
                <div class="input-field">
                    <input id="signer_position%{num}" required type="text" name="signer_position" class="validate" value="">
                    <label for="signer_position%{num}">Befattning</label>
                </div>
            </div>
            <div class="col s1">
                <div class="delete-btn"><i class="material-icons">close</i>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    $(function() {
        $signerTemplate = $("#signer-template").html();
        $(".results input[type=hidden]")
            .each(function() {
                var value = $(this).val();
                if (value === "")
                    return;
                $(this).parent().children(".answer-box.set.result-" + value).addClass("selected");
            });
        $(".set")
            .click(function() {
                $(this).parent().children(".answer-box.set").removeClass("selected");
                var val = $(this).text();
                $(this).parent().children("input[type=hidden]").val(val);
                $(this).addClass("selected");
            });
        var $state = $("#state-holder");
        $state.on("click",
            ".delete-btn",
            function() {
                $(this).parent().parent().parent().remove();
            });
        $("#add_user")
            .click(function(e) {
                e.preventDefault();
                $(".signers").append($signerTemplate);
            });
        $("#sign")
            .click(function() {
                if ($(this).is(":checked")) {
                    $(".signing").show();
                } else {
                    $(".signing").hide();
                }
            });
        if($("#sign").is(":checked")) {
            $(".signing").show();
        }
        {% if midterm_in_progress or fullterm_in_progress %}
        function updateActionPlan() {
            if ($(".answer-box").hasClass("result-V")) {
                $(".action-plan").show();
            } else {
                $(".action-plan").hide();
            }
        }

        updateActionPlan();
        $(".answer-box")
            .click(function() {
                $box = $(this);
                $box.parent().find(".answer-box").removeClass("result-OK result-G result-V result-U result-VG").addClass("collapsed");
                var ans = $box.data("answer");
                {% if midterm_in_progress %}
                if (ans == "G")
                    ans = "OK";
                if (ans == "U")
                    ans = "V";
                {% endif %}
                $box.parent().find("input[type=hidden]").val(ans);
                $box.addClass("result-" + ans);
                updateActionPlan();
            });
        {% endif %}
        $(".answer-box .toggle")
            .click(function (event) {
                event.stopPropagation();
                $box = $(this).parent().parent();
                if ($box.hasClass("collapsed")) {
                    $box.removeClass("collapsed");
                } else {
                    $box.addClass("collapsed");
                }
            });
    });
</script>
{% endblock %}
{% block content %}

<div id="state-holder" class="container {% if midterm_in_progress %}midterm{% endif %} {% if fullterm_in_progress %}fullterm{% endif %}">
    <a class="btn grey lighten-3 black-text" href="{% url 'readonly_studentform' student_form.link_uuid %}">Utskriftsvänlig detaljerad vy</a>
    <h2>{{ student_form.student }} <br /><small class="grey-text">Bedömning i {{ student_form.course }}</small></h2>
    <form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col s12">
            {% if student_form.midterm_signed and student_form.midterm_action_plan == 'yes' %}
            <div class="card red white-text">
                <div class="card-content">
                    <h4>Risk för underkännande</h4>
                    <p>Vid risk för underkännande måste en åtgärdsplan upprättas</p>
                </div>
                <div class="card-action white black-text">
                    <p class="checkbox white-text">
                        <input type="checkbox" name="action_plan" id="action_plan" value="started"/>
                        <label for="action_plan">Åtgärdsplan har upprättats</label>
                    </p>
                    <div class="input-field">
                        <input type="submit" value="Uppdatera" class="btn"/>
                    </div>
                </div>
            </div>
            {% elif student_form.midterm_action_plan == 'started' %}
            <div class="card-panel red lighten-2 white-text">
                <h4>Risk för underkännande</h4>
                <p>Åtgärdsplan har upprättats efter halvtidsbedömning</p>
            </div>
            {% endif %}
        </div>
        <div class="col s12 m6">
            <div class="card-panel blue-grey darken-2 white-text">
                <h5>Halvtidsbedömning</h5>
                {% if student_form.midterm_signed %}
                <h4>Slutförd {{student_form.midterm_signed_date}}</h4>

                {% elif midterm_in_progress %}
                <h4>Påbörjad</h4>
                {% else %}
                <h4>Ej genomförd</h4>
                <a class="waves-effect waves-light btn" href="?term=midterm">Påbörja</a>
                {% endif %}
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card-panel blue-grey darken-2 white-text">
                <h5>Heltidsbedömning</h5>
                {% if student_form.fullterm_signed %}
                <h4>Slutförd {{student_form.fullterm_signed_date}}</h4>
                {% elif fullterm_in_progress %}
                <h4>Påbörjad</h4>
                {% else %}
                <h4>Ej genomförd</h4>
                <a class="waves-effect waves-light btn" {% if not student_form.midterm_signed %}disabled{% endif %} href="?term=fullterm">Påbörja</a>
                {% if not student_form.midterm_signed %}
                Halvtidsbedöming inte klar
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
        <div class="card-panel grey lighten-5">
            <h5>Information</h5>
            <div class="input-field">
                <input disabled id="ssn" type="text" value="{{ student_form.student.ssn }}">
                <label for="ssn">Personnummer</label>
            </div>
            <div class="input-field">
                <input id="handler" type="text" name="handler" class="validate" value="{{ student_form.handler }}">
                <label for="handler">Handledare/ansvarig</label>
            </div>
            <div class="input-field">
                <input id="location" type="text" name="location" class="validate" value="{{ student_form.location }}">
                <label for="location">VFU-placering</label>
            </div>
             <div class="input-field">
                <input type="submit" value="Uppdatera" class="btn-large"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12">
                <div class="card-panel blue-grey darken-2 white-text">
                    <h4>Om kursen</h4>
                    <p>
                        {{student_form.course.description}}
                    </p>
                </div>
            </div>
        </div>
    <div class="questions row">
        <div class="col s12">
                <div class="row">
                    <div class="col s5 push-s1 m3 push-m3 card-panel grey lighten-5 help-midterm">Vid halvtidbedömning</div>
                    <div class="col s5 push-s1 m3 push-m3 card-panel grey lighten-5 help-fullterm">Vid slutbedömning</div>
                </div>
        </div>
        {% for question in student_form.template.formoption_set.all %}
        {% with answer=current_answers|get_item:question.id %}
        <div class="question col s12">
            {% if midterm_in_progress %}
            <input type="hidden" name="{{question.id}}" value="{{ midterm_answers|get_item:question.id }}"/>
            {% endif %}
            {% if fullterm_in_progress %}
            <input type="hidden" name="{{question.id}}" value="{{ fullterm_answers|get_item:question.id }}"/>
            {% endif %}
            <div class="card-panel blue-grey darken-2 white-text">
                <div class="row">
                    <div class="col s12">
                        <h4>{{question.nr}}</h4>
                    </div>
                    <div class="col s12 question-description">{{ question.description }}</div>
                </div>
            </div>
            <div data-answer="G" class="card-panel grey lighten-5 answer-box{% if show_midterm_answer and midterm_answers|get_item:question.id == "OK"%} result-OK{%endif%}{% if answer == "OK" or answer == "G" %} result-{{answer}}{%endif%}{% if answer %} collapsed{% endif %}">
                <div class="row">
                    <div class="col s12 select">
                        <h5>Godkänt</h5>
                    </div>
                    <div class="col s10 desc">
                        <div class="description">{{question.done_description}}</div>
                    </div>
                    <div class="col s2 switch toggle"><i class="material-icons">import_export</i>
                    </div>
                </div>
            </div>
            {% if student_form.template.has_well_done and not midterm_in_progress %}
            <div data-answer="VG" class="card-panel grey lighten-5 answer-box{% if answer == "VG" %} result-VG{%endif%}{% if answer %} collapsed{% endif %}">
                <div class="row">
                    <div class="col m4 s12 select">
                        <h5>Väl godkänt</h5>
                    </div>
                    <div class="col s10 desc">
                        <div class="description">{{question.well_done_description}}</div>
                    </div>
                    <div class="col s2 switch toggle"><i class="material-icons">import_export</i>
                    </div>
                </div>
            </div>
            {% endif %}
            <div data-answer="U" class="card-panel grey lighten-5 answer-box {% if show_midterm_answer and midterm_answers|get_item:question.id == "V"%} result-V{%endif%}{% if answer == "V" or answer == "U" %} result-{{answer}}{%endif%}{% if answer %} collapsed{% endif %}">
                <div class="row hide-print">
                    <div class="col s12 select">
                        <h5>Underkänt</h5>
                    </div>
                    <div class="col s10 desc">
                        <div class="description">{{question.not_done_description}}</div>
                    </div>
                    <div class="col s2 switch toggle"><i class="material-icons">import_export</i>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
 
        {% if midterm_in_progress %}
        <div class="card-panel grey lighten-5">
            <h4>Halvtidsbedömning</h4>
            <div class="row">
                <div class="col s12">
                    
                    <div class="input-field">
                        <input id="absence" type="text" name="absence" class="validate" value="{{student_form.midterm_absence}}">
                        <label for="absence">Frånvaro (antal dagar)</label>
                    </div>
                    <div class="input-field">
                        <textarea id="comments" name="comments" class="materialize-textarea">{{student_form.midterm_comments}}</textarea>
                        <label for="comments">Övriga kommentarer</label>
                    </div>
                </div>
                <div class="col s12">
                    <input type="hidden" name="term" value="midterm"/>
                    <p class="checkbox before-input">
                        <input type="checkbox" name="sign" id="sign" value="true"/>
                        <label for="sign">Slutför och signera halvtidsbedömning</label>
                    </p>
                    <div class="signing" style="display: none;">
                        <div class="input-field">
                            <input disabled id="sign_date" type="text" class="validate" value="{{ todays_date }}">
                            <label for="sign_date">Datum för signering</label>
                        </div>
                        <h5>Närvarande vid halvtidsbedömning</h5>
                        <div class="signers">
                            <div class="signer">
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input id="signer_name1" type="text" name="signer_name" class="validate" value="">
                                            <label for="signer_name1">Namn på person</label>
                                        </div>
                                    </div>
                                    <div class="col s5">
                                        <div class="input-field">
                                            <input id="signer_position1" type="text" name="signer_position" class="validate" value="">
                                            <label for="signer_position1">Befattning</label>
                                        </div>
                                    </div>
                                    <div class="col s1">
                                        <div class="delete-btn"><i class="material-icons">close</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" id="add_user"><i class="material-icons small">add</i> Lägg till fält</a>
                        <div class="action-plan card-panel red lighten-1 white-text">
                            <h4>Risk för underkännande</h4>
                            <p>Vid risk för underkännande måste en åtgärdsplan upprättas</p>
                        </div>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Uppdatera" class="btn-large"/>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if fullterm_in_progress %}
        <div class="card-panel grey lighten-5">
            <h4>Heltidsbedömning</h4>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="absence" type="text" name="absence" class="validate" value="{{student_form.fullterm_absence}}">
                        <label for="absence">Frånvaro (antal dagar)</label>
                    </div>
                    <div class="input-field">
                        <input id="ok_absence" type="text" name="ok_absence" class="validate" value="{{student_form.fullterm_ok_absence}}">
                        <label for="ok_absence">Från lärosätet godkänd frånvaro (antal dagar)</label>
                    </div>
                </div>
                <div class="col s12 ">
                    <div class="input-field">
                        <textarea id="comments" name="comments" class="materialize-textarea">{{student_form.fullterm_comments}}</textarea>
                        <label for="comments">Övriga kommentarer</label>
                    </div>
                </div>
                <div class="col s12">
                    <input type="hidden" name="term" value="fullterm"/>
                    <p class="checkbox before-input">
                        <input type="checkbox" name="sign" id="sign" value="true"/>
                        <label for="sign">Slutför och signera slutbedömning</label>
                    </p>
                    <div class="signing" style="display:none;">
                        <div class="input-field">
                            <input disabled id="sign_date" type="text" class="validate" value="{{ todays_date }}">
                            <label for="sign_date">Datum för signering</label>
                        </div>
                        <h5>Närvarande vid slutbedömning</h5>
                        <div class="signers">
                            <div class="signer">
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input id="signer_name1" type="text" name="signer_name" class="validate" value="">
                                            <label for="signer_name1">Namn på person</label>
                                        </div>
                                    </div>
                                    <div class="col s5">
                                        <div class="input-field">
                                            <input id="signer_position1" type="text" name="signer_position" class="validate" value="">
                                            <label for="signer_position1">Befattning</label>
                                        </div>
                                    </div>
                                    <div class="col s1">
                                        <div class="delete-btn"><i class="material-icons">close</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" id="add_user"><i class="material-icons small">add</i> Lägg till fält</a>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Uppdatera" class="btn-large"/>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
