{% extends "app/app_layout.html" %}
{% load dict_tags %}
{% block scripts %}
<script type="text/template" id="signer-template">
    <div class="signer">
        <div class="row">
            <div class="col s6">
                <div class="input-field">
                    <input id="signer_name%{num}" required type="text" name="signer_name" class="validate" value="">
                    <label for="signer_name%{num}">Namn på person</label>
                </div>
            </div>
            <div class="col s5">
                <div class="input-field">
                    <input id="signer_position%{num}" required type="text" name="signer_position" class="validate" value="">
                    <label for="signer_position%{num}">Befattning</label>
                </div>
            </div>
            <div class="col s1">
                <div class="delete-btn"><i class="material-icons">close</i>
                </div>
            </div>
        </div>
    </div>
</script>
{% endblock %}
{% block content %}
<div id="state-holder" class="container {% if midterm_in_progress %}midterm{% endif %} {% if fullterm_in_progress %}fullterm{% endif %} readonly">
    <h2>{{ student_form.student }} <br /><small>Bedömning i {{ student_form.course }}</small></h2>
        <div class="card-panel grey lighten-5">
            <h5>Information</h5>
            <div class="input-field">
                <input disabled id="ssn" type="text" value="{{ student_form.student.ssn }}">
                <label for="ssn">Personnummer</label>
            </div>
            <div class="input-field">
                <input id="handler" disabled type="text" name="handler" class="validate" value="{{ student_form.handler }}">
                <label for="handler">Handledare/ansvarig</label>
            </div>
            <div class="input-field">
                <input id="location" disabled type="text" name="location" class="validate" value="{{ student_form.location }}">
                <label for="location">VFU-placering</label>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey lighten-5 hide-print">
                <h5>Halvtidsbedömning</h5>
                {% if student_form.midterm_signed %}
                <h4>Slutförd {{student_form.midterm_signed_date}}</h4>
                {% elif midterm_in_progress %}
                <h4>Påbörjad</h4>
                {% else %}
                <h4>Ej genomförd</h4>
                {% endif %}
                </div>
                <div class="card-panel grey lighten-5 show-print">
                    <div class="input-field">
                        <input id="midterm_status" disabled type="text" value="{% if student_form.midterm_signed %}Slutförd {{student_form.midterm_signed_date}}{% elif midterm_in_progress %}Påbörjad{% else %}Ej genomförd{% endif %}" />
                        <label for="midterm_status">Halvtidsbedömning</label>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel grey lighten-5 hide-print">
                <h5>Heltidsbedömning</h5>
                {% if student_form.fullterm_signed %}
                <h4>Slutförd {{student_form.fullterm_signed_date}}</h4>
                {% elif fullterm_in_progress %}
                <h4>Påbörjad</h4>
                {% else %}
                <h4>Ej genomförd</h4>
                {% if not student_form.midterm_signed %}
                Halvtidsbedöming inte klar
                {% endif %}
                {% endif %}
                </div>
                <div class="card-panel grey lighten-5 show-print">
                    <div class="input-field">
                        <input id="fullterm_status" disabled type="text" value="{% if student_form.fullterm_signed %}Slutförd {{student_form.fullterm_signed_date}}{% elif fullterm_in_progress %}Påbörjad{% else %}Ej genomförd{% endif %}" />
                        <label for="fullterm_status">Heltidssbedömning</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-page"></div>
        <div class="row">
            <div class="col s6">
                <div class="card-panel grey lighten-5">
                    <h4>Om kursen</h4>
                    <p>
                        {{student_form.course.description}}
                    </p>
                </div>
            </div>
            <div class="col s6">
                <div class="card-panel grey lighten-5 help-midterm">Vid halvtidbedömning</div>
                <div class="card-panel grey lighten-5 help-fullterm">Vid heltidsbedömning</div>
            </div>
        </div>
        <div class="questions">
            {% for question in student_form.template.formoption_set.all %}
            {% with answer=current_answers|get_item:question.id %}
            <div class="question">
                 {% if midterm_in_progress %}
                    <input type="hidden" name="{{question.id}}" value="{{ midterm_answers|get_item:question.id }}"/>
                    {% endif %}
                    {% if fullterm_in_progress %}
                    <input type="hidden" name="{{question.id}}" value="{{ fullterm_answers|get_item:question.id }}"/>
                    {% endif %}
                <div class="row">
                    <div class="number-box">{{question.nr}}</div>
                    <div class="question-description"><p class="flow-text">{{ question.description }}</p></div>
                </div>
                <div data-answer="G" class="card-panel grey lighten-5 answer-box{% if show_midterm_answer and midterm_answers|get_item:question.id == "OK"%} result-OK{%endif%}{% if answer == "OK" %} result-OK{%endif%}{% if answer == "G" %} result-G{%endif%}">
                    <div class="row hide-print">
                        <div class="col m4 s12 flow-text select">
                            Godkänt
                        </div>
                        <div class="col m7 s10 desc"><div class="description">{{question.done_description}}</div></div>
                        <div class="col m1 s2 switch toggle"><i class="material-icons">import_export</i></div>
                    </div>
                    <div class="show-print">
                        <div class="input-field">
                            <textarea id="q{{question.id}}pd"class="materialize-textarea">{{question.done_description}}</textarea>
                            <label for="q{{question.id}}pd">Godkänt</label>
                        </div>
                    </div>
                </div>
                {% if student_form.template.has_well_done and not midterm_in_progress %}
                <div data-answer="VG" class="card-panel grey lighten-5 answer-box{% if answer == "VG" %} result-VG{%endif%}{% if answer %} collapsed{% endif %}">
                    <div class="row hide-print">
                        <div class="col m4 s12 flow-text select">
                            Väl godkänt
                        </div>
                        <div class="col m7 s10 desc"><div class="description">{{question.well_done_description}}</div></div>
                        <div class="col m1 s2 switch toggle"><i class="material-icons">import_export</i></div>
                    </div>
                    <div class="show-print">
                        <div class="input-field">
                            <textarea id="q{{question.id}}pwd"class="materialize-textarea">{{question.well_done_description}}</textarea>
                            <label for="q{{question.id}}pwd">Väl godkänt</label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div data-answer="U" class="card-panel grey lighten-5 answer-box {% if show_midterm_answer and midterm_answers|get_item:question.id == "V"%} result-V{%endif%}{% if answer == "V" %} result-V{%endif%}{% if answer == "U" %} result-U{%endif%}">
                    <div class="row hide-print">
                        <div class="col m4 s12 flow-text select">
                            Underkänt
                        </div>
                        <div class="col m7 s10 desc"><div class="description">{{question.not_done_description}}</div></div>
                        <div class="col m1 s2 switch toggle"><i class="material-icons">import_export</i></div>
                    </div>
                    <div class="show-print">
                        <div class="input-field">
                            <textarea id="q{{question.id}}pnd"class="materialize-textarea">{{question.not_done_description}}</textarea>
                            <label for="q{{question.id}}pnd">Underkänt</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
 
        {% if student_form.midterm_signed %}
        <div class="new-page"></div>
        <div class="card-panel grey lighten-5">
            <h4>Halvtidsbedömning</h4>
            <div class="row">
                <div class="col s12">
                    
                    <div class="input-field">
                        <input id="absence" disabled type="text" name="absence" class="validate" value="{{student_form.midterm_absence}}">
                        <label for="absence">Frånvaro (antal dagar)</label>
                    </div>
                    <div class="input-field">
                        <textarea id="comments" disabled name="comments" class="materialize-textarea">{{student_form.midterm_comments}}</textarea>
                        <label for="comments">Övriga kommentarer</label>
                    </div>
                </div>
                <div class="col s12">
                    <input type="hidden" name="term" value="midterm"/>
                    <p class="checkbox">
                        <input type="checkbox" disabled checked name="sign" id="sign" value="true"/>
                        <label for="sign">Slutför och signera halvtidsbedömning</label>
                    </p>
                    <div class="signing">
                        <div class="input-field">
                            <input disabled id="sign_date" type="text" class="validate" value="{{ todays_date }}">
                            <label for="sign_date">Datum för signering</label>
                        </div>
                        <h5>Närvarande vid halvtidsbedömning</h5>
                        <div class="signers">
                            {% for signer in student_form.midterm_user_signed.all %}
                            <div class="signer">
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input id="signer_name1" disabled required type="text" name="signer_name" class="validate" value="{{ signer.name }}">
                                            <label for="signer_name1">Namn på person</label>
                                        </div>
                                    </div>
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input id="signer_position1" disabled required type="text" name="signer_position" class="validate" value="{{ signer.title }}">
                                            <label for="signer_position1">Befattning</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if student_form.fullterm_signed %}
        <div class="new-page"></div>
        <div class="card-panel grey lighten-5">
            <h4>Heltidsbedömning</h4>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="absence" disabled type="text" name="absence" class="validate" value="{{student_form.fullterm_absence}}">
                        <label for="absence">Frånvaro (antal dagar)</label>
                    </div>
                    <div class="input-field">
                        <input id="ok_absence" disabled type="text" name="ok_absence" class="validate" value="{{student_form.fullterm_ok_absence}}">
                        <label for="ok_absence">Från lärosätet godkänd frånvaro (antal dagar)</label>
                    </div>
                </div>
                <div class="col s12 ">
                    <div class="input-field">
                        <textarea id="comments" disabled name="comments" class="materialize-textarea">{{student_form.fullterm_comments}}</textarea>
                        <label for="comments">Övriga kommentarer</label>
                    </div>
                </div>
                <div class="col s12">
                    <input type="hidden" name="term" value="fullterm"/>
                    <p class="checkbox">
                        <input type="checkbox" disabled checked name="sign" id="sign" value="true"/>
                        <label for="sign">Slutför och signera heltidsbedömning</label>
                    </p>
                    <div class="signing">
                        <div class="input-field">
                            <input disabled id="sign_date" type="text" class="validate" value="{{ todays_date }}">
                            <label for="sign_date">Datum för signering</label>
                        </div>
                        <h5>Närvarande vid heltidsbedömning</h5>
                        <div class="signers">
                            {% for signer in student_form.fullterm_user_signed.all %}
                            <div class="signer">
                                <div class="row">
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input id="signer_name1" disabled required type="text" name="signer_name" class="validate" value="{{signer.name}}">
                                            <label for="signer_name1">Namn på person</label>
                                        </div>
                                    </div>
                                    <div class="col s6">
                                        <div class="input-field">
                                            <input id="signer_position1" disabled required type="text" name="signer_position" class="validate" value="{{signer.title}}">
                                            <label for="signer_position1">Befattning</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
</div>
{% endblock %}
