{% extends "app/app_layout.html" %}

{% block content %}
<div class="container">
    <h2>Kurser</h2>
    <table class="striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>År</th>
                <th>Termin</th>
                <th>Antal veckor VFU</th>
            </tr>
        </thead>
        <tbody>
            {% for c in courses %}
            <tr>
                <td><a href="/app/course/{{c.id}}">{{ c.name }}</a></td>
                <td>{{c.year}}</td>
                <td>{{c.term}}</td>
                <td>{{c.weeks}}v</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
