#header {
    background: #455a64 !important;
    color: #fff;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}
.module h2, .module caption, .inline-group h2 {
    background: #455a64 !important;
    color: #fff !important;
}
div.breadcrumbs {
    background: #37474F !important;
}