.hide-print {

}
.show-print { display: none; }
@media print {
    .nav-wrapper ul {
        display: none;
    }
    a.button-collapse {
        display: none;
    }
    input[type=button], input[type=submit], button, .btn, .btn-large {
        display: none !important;
    }
    .card-panel {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .new-page {
        page-break-after: always;
    }
    .number-box {
        border: 6px solid #333;
    }
    .footer-text {
        display: none;
    }
    .hide-print {
        display: none;
    }
    .show-print { display: block; }
}